body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", 'Arial Narrow Bold';
    fill: black;
    padding: 1em 3em;
  }
#text{
    position: absolute;
    height: 1000px;
    width: 1000px;
    font-size: 20px;
}
 /* containers position */   
 #d3-container1{   
    position:absolute;
    top:560px;
    left:200px;
    width:500px; 
    height: 250px; 
    
 }
 #d3-container2{   
    position:absolute;
    top:560px;
    left:600px;
    width:500px; 
    height: 250px; 
 }
 #d3-container3 {   
    position:absolute;
    top:860px;
    left:200px;
    width:500px; 
    height: 250px;
 }
 #d3-container4 {   
    position:absolute;
    top:860px;
    left:600px;
    width:500px; 
    height: 250px; 
        }
    #d3-container5 {   
    position:absolute;
    top:1160px;
    left:200px;
    width:800px; 
    height: 250px;
         }
  /* LINE CHARTS*/
path.line-0 {
    fill: none;
    stroke:#1280C2 ;
    stroke-width: 2px;
    }    
path.line-1 {
    fill: none;
    stroke:#F19322;
    stroke-width: 2px;
    }
path.line-2 {
    fill: none;
    stroke: #949290;
    stroke-width: 2px;
    }
path.line-3 {
    fill: none;
    stroke:#EDD151;
    stroke-width: 2px;
     }
path.line-4 {
    fill: none;
    stroke:#77D9DF;
    stroke-width: 2px;
    }  
    
.grid line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
      }
      
.grid path {
        stroke-width: 0;
      }
      
  .axis-label {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
  }
  .title{
      font-size: 14px;
      stroke: black;
      opacity: 1;
      height: 30px;
      width: 40px;
  }

  path.rate-0 {
    fill: none;
    stroke:#1280C2 ;
    stroke-width: 2px;
    }   
    path.rate-1 {
        fill: none;
        stroke:blue ;
        stroke-width: 2px;
        }   
  