
body {
    font-family: 'PT Serif', serif;
    font-size: 18px;   
    fill: black;
    padding: 1em 3em;
}
header {
    font-family: 'PT Serif', serif;
    width: width;
    color: rgb(71, 27, 6);
}

 /* containers with charts */   
 #d3-container1{ 
    position: float;  
    width:500px; 
    height: 250px; 
}
 #d3-container2{ 
    position: float;
    width:500px; 
    height: 250px; 
}
 #d3-container3 {  
    position: float;
    width:500px; 
    height: 250px;
}
 #d3-container4 {  
    position: float;
    width:500px; 
    height: 250px; 
}
#d3-container5 {   
    position: float;
    width:600px; 
    height: 250px;
}
#d3-container6 {  
    position: float;    
    width:940px; 
    height: 580px;
}
#d3-container7 {   
    position: float;   
    width: 800px;
    height: 500px;
}
  /* LINE CHARTS*/
path.line-0 {
    fill: rgb(202, 227, 241);
    stroke:#1280C2 ;
    stroke-width: 2px;
}    
path.line-1 {
    fill: none;
    stroke:#F19322;
    stroke-width: 2px;
}
path.line-2 {
    fill: none;
    stroke: #44A62C;
    stroke-width: 2px;
}
path.line-3 {
    fill: none;
    stroke:#EDD151;
    stroke-width: 2px;
}
path.line-4 {
    fill: none;
    stroke:#77D9DF;
    stroke-width: 2px;
}  
.grid line {
    stroke: rgb(168, 165, 165);
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
} 
.grid path {
    stroke-width: 0;
}    
.axis-label {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
}
.title{
    font-size: 14px;
    stroke: black;
    opacity: 1;
    height: 30px;
    width: 40px;
}
.tooltip {	
    position: absolute;			
    /* text-align: left;*/
    padding: 3px;
    font-size: 14px;		
    border-style: solid;
    border-width: thin;
    border-color: black;
    color: black;	
    background: white;
    pointer-events: none;			
}  
.rects:hover {
    stroke: black;
    stroke-width: 3px;
}
.ids:hover {
    stroke-width: 3px;
}
.dot {
    cursor: pointer;
    fill: rgb(51, 87, 187);
}
.dot:hover {
    fill:  #03115e;
}   
.trend {
    fill: none;
    stroke: rgb(50, 117, 194);
    stroke-width:2;
    stroke-linejoin: round;
}
.dropdown {
    background-color: rgb(210, 229, 247);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 120px;
}
.datasource {
    color: black;
}
     
